.list-name-container {
  display: flex;

  .list-name {
    padding-right: 10px;
  }

  .list-delete {
    display: none;
  }

  &:hover {
    .list-delete {
      display: inherit;
    }
  }
}

.item {
  &.done {
    :global(.form-check-label) {
      text-decoration: line-through;
    }
  }

  :global(.form-check) {
    margin-bottom: 0;
    display: flex;

    :global(.form-check-label) {
      flex-grow: 1;
    }

    .item-delete {
      display: none;
      line-height: 20px;
      cursor: pointer;
    }

    &:hover {
      .item-delete {
        display: inherit;
      }
    }
  }
}

.item-input-container {
  padding: 0;
}
