.item {
  &.done {
    :global(.form-check-label) {
      text-decoration: line-through;
    }
  }

  :global(.form-check) {
    margin-bottom: 0;
  }
}

.item-input {
  padding: 0;
  padding-left: 25px;

  :global(.form-group) {
    margin-bottom: 0;

    :global(.form-control) {
      border: none;
      font-size: 28px;
    }
  }
}
